<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <meta name="description" content="Sign in with Discord to manage your Wasabi Bot API access.">
    <base href="/" />
    <title>Wasabi Bot</title>
    <link rel="stylesheet" href="@Assets["pico.green.min.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>

    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>
</html>
