<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>Wasabi Bot</title>
    <link rel="stylesheet" href="pico.green.min.css" />
    <script src="app.js" defer></script>
</head>
<body>
    <Routes />
</body>
</html>
