ARCHITECTURE=arm64/x86_64
AWS_ACCOUNT_ID=***
DEV_WARMUP_URL=***
DISCORD_APPLICATION_ID=***
DISCORD_DEFERRED_EVENT_QUEUE_URL=***
DISCORD_PUBLIC_KEY=***
DISCORD_TOKEN=***
ENVIRONMENT=dev
NEON_CONNECTION_STRING='Host=localhost;Port=5432;Database=defaultdb;Username=postgres;Password=postgres;'
NGROK_AUTHTOKEN=***
NGROK_DOMAIN=***
