# .NET
[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide

# IDEs
.idea
.vscode

.env

# cdktf and terraform ignores
.terraform
cdktf.out
cdktf.log
*terraform.*.tfstate*
*.tfplan
.gen/

# Old sln file keeps coming back
.sln
