.music-navbar-join {
  display: none;
}

@media (min-width: 48rem) {
  .music-navbar-join {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: calc(50% - 27rem);
    display: inline-flex;
    transform: translateY(-50%);
  }
}
