.music-navbar-join {
  display: none;
}

@media (min-width: 48rem) {
  .music-navbar-join {
    position: fixed;
    z-index: 50;
    inset-block-start: 2rem;
    inset-inline-start: calc(50% - 27rem);
    display: inline-flex;
    transform: translateY(-50%);
  }
}
